


.front-page{
    display:grid;
    
    min-height:100vh;
    margin:auto;
    grid-template-columns: 40% auto ;
    
}
.ribbon{
    background-color: #55C7B9;
    padding:10%;
    padding-top:20vh;
    text-align: left;
    
}
.title{
    font-family: 'Montserrat', serif;
    color: #F7D345;
    font-size:10vw;
    text-transform: uppercase;
}

.login-section{
 padding-top:20vh;
 padding-left:20vw;

}
.login-section hr{
    width: 20%;
    margin-left:35%;
    margin-top:10%;
}